<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Contactos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let contacto of contactos">
    <ion-card-header>
      <h1>
        {{ contacto.nombre + " " + contacto.apellido }}
      </h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <h2>{{ contacto.direccion }}</h2>
        </ion-item>
        <ion-item>
          <h2>{{ contacto.telefono }}</h2>
        </ion-item>
        <ion-item>
          <button ion-button full color="ligth"
            (click)="verFormulario(contacto.idContacto)">
            Ver mas...
          </button>
          <button ion-button color="ligth"
          (click)="borrar(contacto.idContacto)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="dark" (click)="verFormulario('nuevo')">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
