<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Contactos" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tareas" tabIcon="checkmark-circle-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Citas" tabIcon="md-calendar"></ion-tab>
</ion-tabs>
