<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ titulo }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Asunto</ion-label>
            <ion-input type="text"
            name="asunto"
            [(ngModel)]="cita.asunto"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Descripcion</ion-label>
            <ion-input type="text"
            name="descripcion"
            [(ngModel)]="cita.descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de Cita</ion-label>
            <ion-datetime name="fechaCita"
          displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="cita.fechaCita"></ion-datetime>
          </ion-item>
          <ion-list>
            <ion-item>
              <ion-label>Contactos</ion-label>
              <ion-select *ngFor="let contacto of contactos" cancelText="Nah" okText="Okay!">
                <ion-option value="contacto.idContacto">{{contacto.nombre}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary"
        (click)="guardar()">
        Guardar
      </button>
    </ion-row>
  </ion-grid>

</ion-content>
