<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ titulo1 }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Titulo</ion-label>
            <ion-input type="text"
            name="titulo"
            [(ngModel)]="tarea.titulo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Descripcion</ion-label>
            <ion-input type="text"
            name="descripcion"
            [(ngModel)]="tarea.descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de Inicio</ion-label>
            <ion-datetime name="fechaInicio" disabled
            displayFormat="MMM DD YYYY" pickerformat="MMM DD YYYY" [(ngModel)]="tarea.fechaInicio"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha Final</ion-label>
            <ion-datetime name="fechaFinal"
          displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="tarea.fechaFinal"></ion-datetime>
          </ion-item>
          <ion-list>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-select [(ngModel)]="tarea.estado" cancelText="Nah" okText="Okay!">
                <ion-option value="inicial" selected="true">Inicial</ion-option>
                <ion-option value="intermedio">Intermedio</ion-option>
                <ion-option value="finalizado">Finalidado</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary"
      (click)="guardar()">
      Guardar
    </button>
  </ion-row>
</ion-grid>
</ion-content>
