<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Tareas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let tarea of tareas">
    <ion-card-header>
      <h1>
        {{ tarea.titulo }}
      </h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <h2>{{ tarea.descripcion }}</h2>
        </ion-item>
        <ion-item>
          <button ion-button full color="ligth"
          (click)="verFormulario(tarea.idTarea)">
          Ver mas...
        </button>
        <button ion-button color="ligth"
        (click)="borrar(tarea.idTarea)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>

<ion-fab right bottom>
  <button ion-fab color="dark" (click)="verFormulario('nuevo')">
    <ion-icon name="md-add"></ion-icon>
  </button>
</ion-fab>
</ion-content>
