<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
  <img src="http://www.montajesysistemas.com/img/avatar.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Bienvenido
      </ion-card-title>
    <p>
      Que bueno es tenerte de vuelta, tus contactos
      aguardan por ti.
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
